*{
	padding:0;
  margin:0;
}
body {
font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft YaheiUI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;

}
@font-face {
    font-family: "Center-text";
    src: url("../fonts/SentyTEA.ttf");
}
#bgvid {
  z-index: -100;
  /*background: url(polina.jpg) no-repeat;*/
  background-size: cover;
}
.navbar,.navbar-default{
   border:none;
	 background-color:rgba(0,0,0,0);
}
.navbar-fixed-top{
	border:none;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background:rgba(0,0,0,0);
	color: #009900;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background:rgba(0,0,0,0);
}
.navbar-default .navbar-toggle{
	border:none;
}

.navbar-default .navbar-nav>li>a{
	color:#FFCCCC;
}
.navbar-default .navbar-nav >li>a:focus{
  outline: none;
  color:#FFCCCC;
}
.navbar-default .navbar-nav>li>a:hover{
	color:#339933;
	background:rgba(0,0,0,0);
}
.modalTop{
  top:14%;
}
.modal-title{
  text-align: center;
}
#loading{
  text-align: center;
  top:35%;

}
.pagination > li > a, .pagination > li > span{
  background: #CCFFCC;
}

/*.modal-lg{
  width: 1200px;
}*/





/*.btn-default{
  color:#FFCCCC;
  background:rgba(0,0,0,0);
  border: none;
}
.btn-default:hover{
  color: #009900;
  background:rgba(0,0,0,0);
  border: none;
}
.btn-default:focus{
  background:rgba(0,0,0,0);
  color: #FFCCCC;
}
.btn:focus{
  outline: none;
  background:rgba(0,0,0,0);
}
.container-fluid{
	padding:0;
}*/
/*.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus,
.btn:active,
.btn.active{
  outline: none;
}
.btn,.btn-default{
  border:none;
}*/
.div1{
	position: absolute;
	top:0px;
	width: 100%;
  background-color:#000000;
  opacity: 0.7;
}
.head_text{
	padding-top: 50px;
}
.head_text p{
	font-family: Center-text;
	font-size: 16px;
	color: #FFF;
  opacity: 0.9;
}
.scroll-down,.scroll-down2{
  text-align: center;
  padding-top: 10px;
	width: 50px;
	height: 50px;
  font-size: 20px;
  border: 2px solid rgba(255,255,255,.3);
	border-radius: 100%;
	color:#FFCCCC;
	opacity: 0.5;
}
.scroll-down{
	position: absolute;
	bottom: 30px;
}
.scroll-down2{
	position: absolute;
	bottom: 5%;
}

.scroll-down:hover,.scroll-down2:hover{
  background:rgba(0,0,0,0.5);
  border: 2px solid #009900;
  color:#009900;
}


#tab1_bg,#tab2_bg,#tab3_bg,#tab4_bg,#tab5_bg,#tab6_bg,.tab2_bg1{
  background-size: cover;
  background-position: 50%;

}
#tab1,#tab2,#tab3,#tab4,#tab5,#tab6{
	background-color:#000000;
  opacity: 0.9;
}
#tab1_bg{
  background-image: url("../images/bg2.jpg"); 
}

#tab2_bg{
  background-image: url("../images/15_meitu_3.jpg"); 
}
#tab3_bg{
  background-image: url("../images/bg4.jpg"); 
}
#tab4_bg{
  background-image: url("../images/bg3_meitu_2.jpg"); 
}
#tab5_bg{
  background-image: url("../images/bg5_meitu_5.jpg"); 
}
#tab6_bg{
  background-image: url("../images/bg6.jpeg"); 
}
/*@keyframes first
{
0%   {background: red; left:0px; top:0px;}
25%  {background: yellow; left:200px; top:0px;}
50%  {background: blue; left:200px; top:200px;}
75%  {background: green; left:0px; top:200px;}
100% {background: red; left:5%; top:40%;}
}*/

.text {
  position: absolute;
  top:40%;
  left: 5%;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 3px #333; 
}
.text p {
    font-weight: 300;
    font-size: 17px;
    font-family: "宋体";
  }

.photo{
  background: #000;
}
.photo_1{
  padding: 30px 20px;
  color: #999;
  font-family: Center-text;
  font-size: 22px;
}

#masonry{
  background-color: #121212;
  display: block;
  margin:20px auto;
}
.box {
  margin-bottom: 1%;
  margin-right:1%;
  float: left;
  width: 44%;

 }
.box2{
  width: 89%;
}
.box img {
  max-width: 100%;
 }
.box img:hover{
  border: 1px solid #CCFFCC;
}
.photo-up-top{
  height: 60px;
  line-height: 60px;
  background: #CCFFCC;
}
.photo-body{
  height: 400px;
}
.file {
    width: 200px;
    height: 50px;
    position: relative;
    display: inline-block;
    background: #66CCFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 0px 50px;
    overflow: hidden;
    color: #FFF;
    text-decoration: none;
    text-indent: 0;
    line-height:50px;
    font-size: 18px;




   }
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #66CCCC;
    border-color: #78C3F3;
    text-decoration: none;
}
.photo_2{
  position: absolute;
  top:50%;
  left: 22%;
}







#footer{
	padding:20px;
	background: #000;
	text-align: center;
	border-top: 1px solid #009900;
  color: #666;
}
#footer p{
  letter-spacing:2px;
}
#footer a{
  text-decoration: none;
  color: #666;
  padding: 0 8px;
}


/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
.head_text{
	padding-top: 50px;
}
.head_text p{
	font-size: 20px;
}
.scroll-down {
    font-size: 20px;
    bottom:30px;
    padding-top: 10px;
}
.text {
  top:45%;
  left: 15%;
}
.text p{
  font-size: 20px;
}
.photo_1{
  font-size: 22px;
}
#masonry{
  padding:20px 18px;
}
.box {
  margin-bottom: 8px;
  margin-right: 8px;
  width: 170px;
 }
.box2{
  width: 348px;
}
.photo_2{
  left: 33%;
}
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) {
.head_text{
	padding-top: 60px;
}
.head_text p{
	font-size: 25px;
}
.scroll-down {
    font-size: 25px;
    bottom: 90px;
    padding-top: 8px;
}
.text {
  top:45%;
  left: 25%;
}
.text p{
  font-size: 21px;
}
.photo_1{
  font-size: 28px;
}
#masonry{
  padding:20px 15px;
}
.box {
  margin-bottom: 8px;
  margin-right: 8px;
  width: 180px;
 }
.box2{
  width: 368px;
}
.photo_2{
  left: 35%;
}
}
/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
.head_text{
	padding-top: 80px;
}
.head_text p{
	font-size: 36px;
}
.scroll-down {
    font-size: 30px;
    bottom: 130px;
    padding-top: 7px;
}
.text {
  top:45%;
  left: 25%;
}
.text p{
  font-size: 22px;
  letter-spacing:2px;
}
.photo_1{
  font-size: 36px;
}
#masonry{
  padding:20px 5px;
}
.box {
  margin-bottom: 10px;
  margin-right: 10px;
  width: 222px;
 }
.box2{
  width: 454px;
}
.photo_2{
  left:40%;
}
}



